
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (min-width: 330px) and (max-width:509px) {
    .addbutton:hover{
        opacity:0.9 ;
    }
    .main {
        width: 85vw;
        margin-top: 28.994vw;
        margin-bottom: 28.994vw;
        border-radius: 1.249vw;
        border: 0.087vw solid #C4C4C4;
    }

    .yellowSide {
        background-color: #FFDC40;
        height: 6.499vw;
        border-top-left-radius: 1.249vw;
        border-top-right-radius: 1.249vw;
    }

    .todo {
        width: 32vw;
        height: 4.375vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 6.75vw;
        line-height: 3.737vw;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
        margin: auto;
        margin-top: 3.624vw;
    }

    button {
        border: none;
        outline: none;
    }

    .button1,
    .button2 {
        background: none;
    }

    .button3 {
        background-color: #833AE0;
        color: white;
        width: 29.745vw;
        height: 7.247vw;
        border-radius: 6.239vw;
        margin-left: -6.988vw;
        z-index: -1;
        font-size: 3.5vw;
        font-weight: 400;
        cursor: pointer;
    }


    .p{
        margin-top:2vw;
    }
    .btn{
        border-radius: 50%;
        margin-right:1.438vw ;
        width: 4.2vw;
        height: 4.2vw;
        cursor: pointer;
    }


    input {
        width: 40vw;
        /* height: 4.312vw; */
        border: none;
        border-radius: 1.883vw;
        font-size: 3.75vw;
        outline: none;
        padding-left: 1.438vw;
        margin-bottom: 0.719vw;

    }

    .button1 {

        margin-left: 76vw;
        margin-top: 2vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 5.8vw;
        height:5.8vw;
        background-size: 5.8vw 5.8vw;
        cursor: pointer;
    }

    .button2 {
margin-right: 1.438vw;
        margin-top: 3.258vw;

        border-radius: 50%;
        background-position: center;
        width: 4.2vw;
        height: 4.2vw;
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
    }

    .btnandinp {
        display: flex;
        border: 0.089vw solid #C4C4C4;
        margin-left: 2.8vw;
        height: 8.988vw;
        width: 79.15vw;
        border-radius: 1.249vw;
        justify-content: space-between;
    }

   

    .addbutton {
        display: flex;
        margin-bottom: 2.013vw;
        margin-left: 27.95vw;
        margin-top: 6.56vw;
        margin-right: 27.95vw;
    }

    .plus {
        width: 7.4vw;
        height: 7.25vw;
        border-radius: 6.239vw;
        background-color: #9953F1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tasks {
        font-size: 3.75vw;
        font-weight: 400;
        font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
        max-height: 31.25vw;
        overflow: auto;
        width: 78.125vw;
        border: 0.087vw solid #C4C4C4;
        border-radius: 1.5vw;
        list-style: none;
        margin-left: 2.803vw;
        display: none;
        margin-bottom: 0.9vw;
    }

    .tasks::-webkit-scrollbar {
        width: 0.575vw;
        height: 0.575vw;
    }

    .tasks::-webkit-scrollbar-thumb {
        background: #909090;
        border-radius: 1.249vw;
    }


    .plus {
        color: white;
        font-size: 3.251vw;
        font-weight: bold;
        align-self: center;
    }
} 